<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoTool.Properties.Settings>
            <setting name="active" serializeAs="String">
                <value>000000Y2984-63E-565MB500-54N-9ZXM9332-10L-0IOME122-F23-FK7</value>
            </setting>
            <setting name="nameStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameUser" serializeAs="String">
                <value>Anh Minh</value>
            </setting>
            <setting name="Date" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dateTime" serializeAs="String">
                <value>1997-03-24</value>
            </setting>
            <setting name="NameTool" serializeAs="String">
                <value>๖Baymaxㄨ</value>
            </setting>
            <setting name="startWithWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="urlAutoTool" serializeAs="String">
                <value />
            </setting>
            <setting name="freeSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="chat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userNoti" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="focusWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="inforWindow" serializeAs="String">
                <value />
            </setting>
            <setting name="urlApp" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="notify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runAutoLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="newProcess" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="accAutoLog" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="kickPet" serializeAs="String">
                <value />
            </setting>
            <setting name="logAutoLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="delayKickPet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setupStepX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="setupStepY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="setupDelay" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="fileDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dayDelDebug" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="linkMG" serializeAs="String">
                <value>s3-vuaphapthuat.goplay.vn</value>
            </setting>
            <setting name="delaySys" serializeAs="String">
                <value>0</value>
            </setting>
        </AutoTool.Properties.Settings>
    </userSettings>
</configuration>